body {
  font-family: Arial, sans-serif;
  background:rgb(245, 247, 243);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background: #fff;
  padding: 20px;
  border-radius:20px;
  width: 300px;
  box-shadow:black;
  
}

h2 {
  text-align: center;
  margin-bottom: 15px;
  color:#0a160f;
}

label {
  display: block;
  margin-top: 10px;
  color:#5c4a47;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  box-sizing:border-box;
  border-color: #2a1bef9b;
  border-radius: 15px;
  
}

button {
  margin-top: 15px;
  padding: 10px 15px;
  background-color: rgb(4, 15, 116);
  color: white;
  border: none;
  border-radius: 20px;
  width: 100%;
  cursor: pointer;
}

button:hover {
  background: #07ac12;
}
